.container .filters {
  color: white;
  height: 70px;
  width: 100%;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  position: relative;
}

.container .filters button {
  font-size: 18px;
  background-color: #FF5A5F;
  color: #FFFFFF;
  height: 48px;
  width: 20%;
  border: 0;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
}

.container .filters button:hover {
  opacity: 90%;
}

.container .filters .locations {
  display: block;
  height: 100%;
  width: 25%;
  border-right: 1px solid #DDDDDD;
  float: left;
}

.container .filters .amenities {
  display: block;
  height: inherit;
  width: 25%;
  float: left;
}

.container .filters h3 {
  font-weight: 600;
  color: black;
  margin-bottom: 0;
  text-align: left;
  padding-left: 20%;
}

.container .filters h4 {
  font-weight: 400;
  font-size: 14px;
  color: black;
  margin: 0;
  text-align: left;
  padding-left: 20%;
  margin-bottom: 17px;
}

.container .filters div:hover ul {
  display: block;
}

.container .filters div ul {
  display: none;
  background-color:  #fafafa;
  width: auto;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  list-style: none;
  padding-bottom: 30px;
}

.container .filters ul h2 {
  color: black;
  width: inherit;
  margin-bottom: 6px;
}

.container .filters ul li {
  color: black;
  width: inherit;
  line-height: 1.3rem;
}

.container .filters .locations .popover ul {
  border: none;
  margin-left: 10px;
  padding: 0;
}

.container .filters .amenities .popover {
  padding-top: 30px;
}